@font-face {
    font-family: 'LEMON MILK';
    src: url('LEMONMILK-Bold.woff2') format('woff2'),
        url('LEMONMILK-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carlista Buttery';
    src: url('CarlistaButteryRegular.woff2') format('woff2'),
        url('CarlistaButteryRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

